<!doctype html>

<html ng-app="taskboardApp">

    <head>
        <title>Outlook Task Board</title>
        <meta http-equiv="X-UA-Compatible" content="IE=11">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/taskboard.css">

        <!-- scripts -->
        <script src="lip/jquery.min.js"></script>
        <script src="lip/jquery-ui.min.js"></script>
        <script src="lip/bootstrap.min.js"></script>
        <script src="lip/angular.js"></script>
        <script src="lip/sortable.min.js"></script>
        <script src="lip/checklist-model.js"></script>
        <script src="lip/moment.min.js"></script>
        <script src="lip/minify.json.js"></script>
        <script src="lip/deep-diff-0.3.8.min.js"></script>
        <script src="js/version.js"></script>
        <script src="js/exchange.js"></script>
        <script src="js/app.js"></script>

    </head>

    <body ng-controller="taskboardController" ng-init="init()">

        <div ng-if="!isBrowserSupported">
            <h1>Sorry, this app can only be run as a Home Page of an Outlook mail folder</h1>
            <h2>Set up</h2>
            <ul>
                <li>Download <a href="https://janware.nl/gitlab/install.zip">this zip file</a></li>
                <li>Extract the install.cmd file, and run it</li>
            </ul>
            <h2>That's it!! Have fun!</h2>
        </div>

        <div ng-if="isBrowserSupported" class="taskboard container-fluid" ng-style="getTaskboardBackgroundColor()">

            <!-- header bar -->
            <section id="headerbar" class="row">
                <div ng-if="display_message" class="col-md-12 bg-warning">
                    <div ng-show="config.NEW_VERSION_NOTIFICATION" ng-if="( where=='(offline)' )">
                        <p><strong>A newer version is available: {{version_number}} (your version is {{version}})</strong>
                        <a href="{{DOWNLOAD_URL}}" download id="download" class="button">download</a>
                        <a href="#" ng-click="$event.preventDefault();displayLink('https://janware.nl/gitlab/whatsnew.html')" class="button">What's new?</a>
                    </div>
                    <div ng-if="( where=='(online)' )">
                        <p><strong>Upgraded to a newer version: {{version_number}}</strong>
                        <a class="button" href="#" ng-click="$event.preventDefault();displayLink('https://janware.nl/gitlab/whatsnew.html')">What's new?</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon" ng-click="switchToAppMode();">
                            <strong>Outlook Taskboard</strong>
                        </div>
                        <div ng-show="config.MULTI_MAILBOX" class="input-group-addon">
                            <select class="selectpicker" ng-model="filter.mailbox">
                                <option ng-selected="{{mailbox == filter.mailbox}}" ng-repeat="mailbox in config.ACTIVE_MAILBOXES"
                                                                                    value="{{mailbox}}">
                                {{mailbox}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <button id="refreshbutton" class="btn btn-default btn-xs" aria-label="Refresh" type="button"
                                                                                                           ng-click="refreshTasks();"><span class="glyphicon glyphicon-refresh"
                                                                                                                                         aria-hidden="true"></span></button>
                        </div>
                        <div ng-show="(filter.search != '')" class="input-group-addon">
                            <button class="btn btn-default btn-xs" aria-label="Clear" type="button"
                                                                                      ng-click="filter.search = ''"><span class="glyphicon glyphicon-remove"
                                                                                                                          aria-hidden="true"></span></button>
                        </div>
                        <input type="text" name="search" ng-model="filter.search" class="form-control"
                                                                                  placeholder="Filter" />
                        <div class="input-group-addon">
                            <select class="btn btn-default btn-xs" ng-model="filter.category">
                                <option ng-selected="{{category == filter.category}}" ng-repeat="category in activeCategories"
                                                                                      value="{{category}}">
                                {{category}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <button class="btn btn-default btn-xs" aria-label="Report" type="button"
                                                                                       ng-click="createReport();"><span class="glyphicon glyphicon-list-alt"
                                                                                                                        aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon"
                                  ng-class="{ 'glyphicon-globe' : filter.private == privacyFilter.all.value, 'glyphicon-lock' : filter.private == privacyFilter.private.value, 'glyphicon-briefcase' : filter.private == privacyFilter.public.value }"
                                  aria-hidden="true"></span>
                            <select class="btn btn-default btn-xs" ng-model="filter.private">
                                <option value={{privacyFilter.all.value}}>{{privacyFilter.all.text}}</option>
                                <option value={{privacyFilter.private.value}}>{{privacyFilter.private.text}}</option>
                                <option value={{privacyFilter.public.value}}>{{privacyFilter.public.text}}</option>
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <button class="btn btn-default btn-xs" aria-label="Config" type="button"
                                                                                       ng-click="switchToConfigMode();"><span class="glyphicon glyphicon-wrench"
                                                                                                                              aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group-addon">
                            <button class="btn btn-default btn-xs" aria-label="Help"
                                                                   ng-click="switchToHelpMode();"><strong>?</strong></button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- tasklanes section -->
            <section ng-if="inAppMode()" class="row">
                <div ng-repeat="folder in taskFolders" ng-if="( folder.display )"
                                                       class="tasklane col-md-3 col-sm-4 col-xs-6"
                                                       ng-class=" { 'col-lg-100' : displayFolderCount === 1, 'col-lg-50' : displayFolderCount === 2, 'col-lg-33' : displayFolderCount === 3, 'col-lg-25': displayFolderCount === 4, 'col-lg-20': displayFolderCount === 5, 'col-lg-16': displayFolderCount === 6 }">
                    <div class="panel panel-default">
                        <header
                         ng-class="{ 'panel-heading-todo' : folder.type == 1, 'panel-heading-next' : folder.type == 2, 'panel-heading-progress' : folder.type == 3, 'panel-heading-waiting' : folder.type == 4,'panel-heading-completed' : folder.type == 5,'panel-heading-someday' : folder.type == 0 }">
                            <h5>{{ folder.title }}
                                <span class="pull-right">
                                    <button
                                      ng-if="( folder.allowAdd && (folder.limit == 0 || folder.tasks.length < folder.limit ))"
                                      class="btn btn-default btn-xs" aria-label="Add" type="button"
                                                                                      ng-click="addTask(folder.type);">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <span class="label label-info">{{ folder.tasks.length }}</span>
                                    <span ng-if="( folder.limit > 0 )" class="label label-primary">{{ folder.limit }}</span>
                                </span>
                            </h5>
                        </header>
                        <ul id="folder-{{folder.type}}" ui-sortable="sortableOptions" ng-model="folder.filteredTasks"
                                                                                      ng-class="{ 'tasklist-default' : !display_message, 'tasklist-message' : display_message }"
                                                                                      class="panel-body list-unstyled tasklist"
                                                                                      ng-style="getTasklistBackgroundColor()">
                            <li ng-repeat="task in folder.filteredTasks" class="task panel"
                                                                         ng-class="{ 'task-completed': folder.type == 5,  'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }"
                                                                         ng-dblclick="editTask(task)">
                                <header class="panel-heading">
                                    {{ task.subject }} 
                                    <br>
                                    <span
                                            ng-if="(folder.displayDueDate && (task.duedate | date:'yyyy' ) != '4501')"
                                            ng-class="isOverdue(task.duedate)" class="pull-right">(Due:
                                        {{ task.duedate | date:config.DATE_FORMAT }}) </span>
                                    <span
                                            ng-if="(folder.displayStartDate && (task.startdate | date:'yyyy' ) != '4501')"
                                            class="pull-right">(Start:
                                        {{ task.startdate | date:config.DATE_FORMAT }}) </span>
                                    <span ng-if="folder.type == 5" class="pull-right">(Completed:
                                        {{ task.completeddate | date:config.DATE_FORMAT }}) </span>
                                </header>
                                <div class="panel-body"> {{ task.notes }} </div>
                                <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                    <div ng-if="( folder.displayOwner )"><span class="glyphicon glyphicon-user"></span>
                                        {{ task.owner }} </div>
                                    <div ng-if="( folder.displayPercent )" class="pull-right"> {{ task.percent }}%</div>
                                    <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )"
                                         class="glyphicon glyphicon-lock"></div>
                                    <div ng-if="(task.categories != '')" class="pull-left"><span
                                                                         class="glyphicon glyphicon-tag"></span>
                                        <span ng-repeat="cat in task.categories"><strong
                                              ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                    </div>
                                    <div ng-if="( folder.displayTotalWork )"><span class="glyphicon glyphicon-time"></span>
                                        {{ task.totalwork }} </div>
                                    <span class="btn-group btn-group-xs">
                                        <button ng-show="(task.oneNoteURL != '')" class="btn btn-default btn-xs"
                                                                                  aria-label="OneNote" type="button"
                                                                                                       ng-click="openOneNoteURL(task.oneNoteURL)"><span
                                                                                                       class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                        <button ng-if="folder.allowEdit" class="btn btn-default btn-xs" aria-label="Edit"
                                                                                                        type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit"
                                                                                                                                                      aria-hidden="true"></span></button>
                                        <button class="btn btn-default btn-xs" aria-label="Delete" type="button"
                                                                                                   ng-click="deleteTask(task,folder.tasks,folder.filteredTasks, true)"><span
                                                                                                   class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                    </span>
                                </footer>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- config section -->
            <section ng-if="(inConfigMode())" class="row">

                <form ng-submit="submitConfig()" class="container-fluid">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <b>Task Columns Configuration</b></a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#someday">{{config.SOMEDAY_FOLDER.TITLE}}</a></li>
                                        <li><a data-toggle="tab" href="#backlog">{{config.BACKLOG_FOLDER.TITLE}}</a></li>
                                        <li><a data-toggle="tab" href="#next">{{config.NEXT_FOLDER.TITLE}}</a></li>
                                        <li><a data-toggle="tab" href="#progress">{{config.INPROGRESS_FOLDER.TITLE}}</a></li>
                                        <li><a data-toggle="tab" href="#waiting">{{config.WAITING_FOLDER.TITLE}}</a></li>
                                        <li><a data-toggle="tab" href="#done">{{config.COMPLETED_FOLDER.TITLE}}</a></li>
                                    </ul>

                                    <div class="tab-content" style="height:140px">
                                        <div id="someday" class="tab-pane fade in active">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.SOMEDAY_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Title"
                                                                                                     ng-model="config.SOMEDAY_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Folder name:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Folder Name"
                                                                                                     ng-model="config.SOMEDAY_FOLDER.NAME">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.SOMEDAY_FOLDER.DISPLAY_PROPERTIES.OWNER"> Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.SOMEDAY_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.SOMEDAY_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                        work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.SOMEDAY_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.SOMEDAY_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.SOMEDAY_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="backlog" class="tab-pane fade">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.BACKLOG_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Title"
                                                                                                     ng-model="config.BACKLOG_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Filter on Start Date:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.BACKLOG_FOLDER.FILTER_ON_START_DATE">
                                                </div>
                                                <div class="col-sm-10"> (means: hide tasks for which the Start Date is in the future)
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.OWNER"> Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                                                         work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.BACKLOG_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="next" class="tab-pane fade">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.NEXT_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" placeholder="Enter Title"
                                                                                            ng-model="config.NEXT_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Max number of tasks:</label>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control input-sm"
                                                                         ng-model="config.NEXT_FOLDER.LIMIT">
                                                </div>
                                                <div class="col-sm-5"> (zero for no limit)</div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.NEXT_FOLDER.DISPLAY_PROPERTIES.OWNER">
                                                        Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.NEXT_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.NEXT_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                                                         work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.NEXT_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.NEXT_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.NEXT_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="progress" class="tab-pane fade">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.INPROGRESS_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Title"
                                                                                                     ng-model="config.INPROGRESS_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Max number of tasks:</label>
                                                <div class="col-sm-2">
                                                    <input type="number" class="form-control input-sm"
                                                                         ng-model="config.INPROGRESS_FOLDER.LIMIT">
                                                </div>
                                                <div class="col-sm-5"> (zero for no limit)</div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.OWNER"> Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                                                         work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.INPROGRESS_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="waiting" class="tab-pane fade">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.WAITING_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Title"
                                                                                                     ng-model="config.WAITING_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.WAITING_FOLDER.DISPLAY_PROPERTIES.OWNER"> Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.WAITING_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.WAITING_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                                                         work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.WAITING_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.WAITING_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.WAITING_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="done" class="tab-pane fade">
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Show this column:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.COMPLETED_FOLDER.ACTIVE">
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-12">
                                                <label class="control-label col-sm-1">Title:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control input-sm" placeholder="Enter Title"
                                                                                                     ng-model="config.COMPLETED_FOLDER.TITLE">
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Display:</label>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.OWNER"> Owner</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"><input type="checkbox"
                                                                                        ng-model="config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.PERCENT"> Percentage
                                                                                        done</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.TOTALWORK"> Total
                                                                                         work</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.STARTDATE"> Start Date</label>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label"> <input type="checkbox"
                                                                                         ng-model="config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.DUEDATE"> Due Date</label>
                                                </div>
                                            </div>
                                            <div class="form-check row col-sm-12">
                                                <label class="control-label col-sm-1">Include in report:</label>
                                                <div class="col-sm-1">
                                                    <input type="checkbox" ng-model="config.COMPLETED_FOLDER.REPORT.DISPLAY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <b>Layout Configuration</b></a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div style="height:60px">
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Category Colors:</label>
                                            <div class="col-sm-1">
                                                <label class="control-label"><input type="checkbox"
                                                                                    ng-model="config.USE_CATEGORY_COLORS">
                                                    Category</label>
                                            </div>
                                            <div class="col-sm-1" ng-show="config.USE_CATEGORY_COLORS">
                                                <label class="control-label"><input type="checkbox"
                                                                                    ng-model="config.USE_CATEGORY_COLOR_FOOTERS"> Entire
                                                                                    footer</label>
                                            </div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Dark Mode:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.DARK_MODE">
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-12">
                                            <label class="control-label col-sm-1">Task details:</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control input-sm" ng-model="config.TASKNOTE_MAXLEN">
                                            </div>
                                            <div class="col-sm-5"> (max number of character displayed)</div>
                                        </div>
                                        <div class="form-group row col-sm-12">
                                            <label class="control-label col-sm-1">Task body in report:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.TASKBODY_IN_REPORT">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <b>Behavior Configuration</b></a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div style="height:130px">
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Auto-start tasks:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.AUTO_START_TASKS">
                                            </div>
                                            <div class="col-sm-10"> (Automatically move tasks to {{config.NEXT_FOLDER.TITLE}} column
                                                when
                                                its Start Date has arrived)</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Auto-start due tasks:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.AUTO_START_DUE_TASKS">
                                            </div>
                                            <div class="col-sm-10"> (Automatically move tasks to {{config.NEXT_FOLDER.TITLE}} column
                                                when
                                                its Due Date has arrived)</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Save drag-and-drop order:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.SAVE_ORDER">
                                            </div>
                                            <div class="col-sm-10"> (Remember the drag-and-drop sort order)</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Remember state:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.SAVE_STATE">
                                            </div>
                                            <div class="col-sm-10"> (Remember the filters after you close the application)</div>
                                        </div>
                                        <div class="form-group row col-sm-12">
                                            <label class="control-label col-sm-1">Done tasks action:</label>
                                            <div class="col-sm-11">
                                                <select class="col-sm-1" ng-model="config.COMPLETED.ACTION">
                                                    <option>DELETE</option>
                                                    <option>ARCHIVE</option>
                                                    <option>NOTHING</option>
                                                </select>
                                                <div ng-show="config.COMPLETED.ACTION != 'NOTHING'">
                                                    <div class="col-sm-1">
                                                        <input type="text" class="form-control input-sm"
                                                                           ng-model="config.COMPLETED.AFTER_X_DAYS">
                                                    </div>
                                                    <div class="col-sm-5"> days after completion</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-12">
                                            <label class="control-label col-sm-1">Automatic refresh:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.AUTO_REFRESH">
                                            </div>
                                            <div class="col-sm-1">every </div>
                                            <div class="col-sm-1">
                                                <input type="text" class="form-control input-sm"
                                                                   ng-model="config.AUTO_REFRESH_MINUTES">
                                            </div>
                                            <div class="col-sm-5"> minutes</div>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        <b>App Configuration</b></a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div style="height:50px">
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-2">JanBan Home Page:</label>
                                            <div class="col-sm-8"> {{installFolder}}</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Debug logging:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.LOG_ERRORS">
                                            </div>
                                            <div class="col-sm-10"> (Switch debug logging on for support purposes)</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">New version notification:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.NEW_VERSION_NOTIFICATION">
                                            </div>
                                            <div class="col-sm-10"> (Display a message when a newer version is available for download)</div>
                                        </div>
                                        <div class="form-check row col-sm-12">
                                            <label class="control-label col-sm-1">Multiple mailboxes:</label>
                                            <div class="col-sm-1">
                                                <input type="checkbox" ng-model="config.MULTI_MAILBOX">
                                            </div>
                                            <div class="col-sm-10">(Kanban boards for multiple mailboxes)</div>
                                        </div>
                                        <div ng-show="config.MULTI_MAILBOX" class="form-check row col-sm-12">
                                            <label class="control-label col-sm-3">Use Kanban boards for these mailboxes:</label>
                                        </div>
                                        <div ng-show="config.MULTI_MAILBOX" class="col-sm-12" ng-repeat="mailbox in mailboxes" ng-if="$index == 0">
                                            <input type="checkbox" class="col-sm-1" disabled="disabled" checklist-model="config.ACTIVE_MAILBOXES" checklist-value="mailbox">
                                            <label class="control-label ">{{mailbox}}</label>
                                             (default, cannot be switched off)
                                        </div>
                                        <div ng-show="config.MULTI_MAILBOX" class="col-sm-12" ng-repeat="mailbox in mailboxes" ng-if="$index > 0">
                                            <input type="checkbox" class="col-sm-1" checklist-model="config.ACTIVE_MAILBOXES" checklist-value="mailbox">
                                            <label class="control-label ">{{mailbox}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <button id="submitconfig" class="btn btn-primary">Save</button>
                    <button id="cancelconfig" class="btn btn-default" type="reset"
                                                                      ng-click="switchToAppMode();">Cancel</button>

                </form>
            </section>

            <!-- help section -->
            <section ng-if="(inHelpMode())" class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <header class="panel-heading-waiting  text-center"><strong>About...</strong></header>
                        <form ng-submit="switchToAppMode()">
                            <div class="panel-about">
                                <img src="janban-icon-512.jpg" class="left" style="width:120px">
                                JanBan Task Board version {{version}}
                                <a href="#" ng-click="$event.preventDefault();displayLink('https://janware.nl/gitlab/whatsnew.html')"> (Release History) </a>
                                <br />
                                <br />
                                A Kanban style taskboard for managing your Outlook tasks.<br />
                                Refactored and taken to the next level by <a href="#" ng-click="$event.preventDefault();displayLink('https://papasmurf.nl/jan/')">
                                <strong><i>Jan van Veldhuizen</i></strong></a>.<br />
                            <br />
                               Credits:<br />
                               * <a href="#" ng-click="$event.preventDefault();displayLink('https://github.com/evrenvarol/outlook-taskboard')"><strong><i>Evren
                                           Varol</i></strong></a>, for developing the very first version of the Kanban
                               board
                               <br />
                               * All users giving feedback and doing suggestions
                               <br />
                               * Everyone who helps improving the app by reporting issues or by asking questions
                             <br />
                             <br />
                             <strong>Buy me a coffee</strong>
                             <br />
                             You're free to use this software. If you are happy with it I highly appreciate you <a href="#" ng-click="$event.preventDefault();displayLink('https://www.buymeacoffee.com/papasmurf')">buying me a coffee</a>
                             <br />
                             <br />
                             <strong>Meet me and other users</strong>
                             <br />
                             JanBan has now its own <a href="#" ng-click="$event.preventDefault();displayLink('https://discord.gg/2ZFTckV')">Discord</a> Server
                             <br />
                             You are encouraged to post your feedback and questions there. 
                             The idea is that users are going to help each other by answering questions and giving tips. 
                             But you can also send an email directly to me
                             <br />
                             <br />
                             <button id="sendFeedback" class="btn btn-primary" type="button"
                                     ng-click="sendFeedback(includeConfig, includeState, includeLog);"><strong>send e-mail</strong></button>
                             <span>&nbsp; &nbsp; &nbsp;&nbsp;  </span> <input type="checkbox" ng-model="includeConfig"> Attach configuration&nbsp;&nbsp;
                             <input type="checkbox" ng-model="includeState"> Attach filter&nbsp;&nbsp;
                             <input type="checkbox" ng-model="includeLog"> Attach debug log
                             <br />
                             <br />
                            <span style="color:red">Internet Explorer Disclaimer:
                            <br />
                            Outlook uses a limited version of the Internet Explorer browser. Hence links to other web sites can be problematic.
                            <br />
                            That is why all links on this page are copied into a Note item, where it uses your default browser.
                            <br />
                            The note item will be closed automatically after a few seconds.
                            <br /></span>
                            </div>
                            <div class="text-center">
                                <button id="back" class="btn btn-default">Ok</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>
